<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<h1 align="center">Registration new users</h1>

<div align="center">
    <form th:action="@{/registration}" method="post">
        <label><input type="text" name="username" placeholder="Username"/> </label>
        <br/><br/>
        <label><input type="email" name="email" placeholder="some@some.com"/> </label>
        <br/><br/>
        <label><input type="password" name="password" placeholder="Password"/> </label>
        <br/><br/>
        <input type="submit" value="Create your account"/>
        <br/><br/>
        <div th:if="${param.error}">
            User exist!
            <br/><br/>
        </div>
        <a href="/login">Login</a>
    </form>
</div>
</body>
</html>